*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Solway", serif; */
  /* font-family: "Outfit", sans-serif; */
  font-family: "Kalam", cursive;
  font-size: 20px;

  
}
/* .marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 5s linear infinite;
}
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
} */